.quill{
   
    color:#95ef1d;
    width:auto;
  -webkit-box-shadow: 10px 5px 31px -11px rgba(149,239,29,1);
  -moz-box-shadow: 10px 5px 31px -11px rgba(149,239,29,1);
  box-shadow: 10px 5px 31px -11px rgba(149,239,29,1);

}
.ql-container{
    font-family: 'Courier New', Courier, monospace;
   font-size:medium;
   
}